body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color:beige;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    color: #555;
}

p, ul {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
}

@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p, ul {
        font-size: 14px;
    }
}
